#input {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background: rgb(241, 147, 241);
    align-items: center;
    padding: 50px;
    border-radius: 50px;
  }
  
  body {
    margin: 50px;
  }
  label {
    display: block;
    align-items: center;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    align-items: center;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #616161;
  }
  
  #result {
    margin: 20px;
    display: flex;
    align-content: center;
  }
  #resultss {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background: rgb(241, 147, 241);
    border-radius: 40px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    text-decoration: solid;
    margin: 20px;
    padding: 50px;
  }
  