#input {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    background: purple;
    align-content: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #616161;
  }
  
  #result {
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    background: rgb(150, 94, 150);
    align-content: center;
  }
  #rseultss {
    margin-top: 20px;
    display: flex;
    background: rgb(159, 95, 159);
    align-content: center;
    flex-direction: row;
    text-decoration: solid;
  }
  